<div class="container">
  <div class="row">
    <div class="col-md-6" ng-repeat="word in wordsIndexCtrl" >
        <div class="">
          <div class="">
            <span class="">{{word.term}}</span>
            <ul>
              <li>Part of Speech: {{word.pos}}</li>
              <li>Definition: {{word.definition}} </li>
           </ul>
           <div>
             <div ng-repeat="example in word.examples">{{example}}</div>
           </div>
          </div>
          <div class="card-action">
            <a ng-href="words/{{word.id}}">View Details</a>
          </div>
        </div>
  </div>
</div>
