<h1>Hello, <%= @user.first_name %></h1>
<%= link_to "Edit Account", edit_user_path(@user)  %>
<%= link_to "Delete Account", user_path(@user), method: :delete %>
<div>
  <h2><%= @user.first_name %>'s Topics</h2>
  <ul>
  </ul>
</div>
