<div class="container">
  <div class="row">
    <div>
      <h1>{{ topicShowCtrl.topic.name }}</h1>
    </div>
    <div class="row">
      <form ng-submit="topicShowCtrl.createWord()">
        Word: <input type="text" ng-model="topicShowCtrl.newWord.term" class="text-input">
        Part of Speech: <input type="text" ng-model="topicShowCtrl.newWord.pos" class="text-input">
        Definition: <input type="text" ng-model="topicShowCtrl.newWord.definition" class="text-input">
        <input type="submit", value="Submit" id="newWordForm">
      </form>
    </div>
    <div ng-repeat="word in topicShowCtrl.words">
      <ul>
        <li>{{word.term}}</li>
        <li>{{word.pos}}</li>
        <li>{{word.definition}}</li>
      </ul>
    </div>
  </div>
</div>
