<div class="container">
  <div class="row">
    <div>
      <h1>{{ topicShowCtrl.topic.name }}</h1>
    </div>
    <div class="row">
      <form ng-submit="topicShowCtrl.createWord()">
        Word: <input type="text" ng-model="topicShowCtrl.newWord.term" class="text-input">
        Part of Speech: <input type="text" ng-model="topicShowCtrl.newWord.pos" class="text-input">
        Definition: <input type="text" ng-model="topicShowCtrl.newWord.definition" class="text-input">
        <input type="submit", value="Submit" class="createForm">
      </form>
    </div>
    <div ng-repeat="word in topicShowCtrl.words">
      <div id="word" data-word-id="{{word.id}}">
        <button class='btn btn-info' ng-hide="editing" data-id="{{word.id}}" ng-click="editing = true">Edit Word</button>
        <button class='btn btn-success' ng-show="editing" ng-click="topicShowCtrl.editWord(word); editing = false">Save Changes</button>
        <ul>
          <p>Word:</p>
          <li ng-hide="editing">{{word.term}}</li>
          <input ng-show="editing" ng-model="word.term" type="text" class="form-control input-md">

          <p>Part of Speech:</p>
          <li ng-hide="editing">{{word.pos}}</li>
          <input ng-show="editing" ng-model="word.pos" type="text" class="form-control input-md">

          <p>Definition:</p>
          <li ng-hide="editing">{{word.definition}}</li>
          <input ng-show="editing" ng-model="word.definition" type="text" class="form-control input-md">
        </ul>
        <button class='btn btn-danger' ng-click="topicShowCtrl.deleteWord(word)">Delete Word</button>
        <a href="/words/{{word.id}}">View Details</a>
      </div>
    </div>
  </div>
</div>
