// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


thead {
  background-color: lightgrey;
}

h3 {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
}

thead td {
  font-size: 20px;
}

.search-words {
  margin: 0;
  padding: 10px;
}

.panel {
  margin-bottom: 50px;
}

.topic-header {
  display: inline-block;
  padding: 5px;
}

.editForm {
  margin: 10px 0;
}

.glyphicon-trash {
  color: red;
}

.btn-default {
  margin: 0 10px;
}

.new-topic {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 48px;
  text-align: center;
}

.topics-back a {
  text-decoration: none;
}

.editForm button {
  margin:0;
}

.editForm input[type="text"] {
  font-size:48px;
  padding: 30px;
  border: none;
  border-bottom: 1px solid grey;
}
